.blur-box {
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.logo {
    height: 180px !important;
    width: auto !important;
}

#root {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

footer{
  margin-top: 30px;
}